@media (max-height: 800px){
    .tituloSecaoPagina{
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        margin: 0px;
    
        border-bottom: 2px solid gainsboro;
    }
}