@import url("https://fonts.cdnfonts.com/css/poppins");

::selection{
    background-color: #fd0026;
}

* {
    font-family: "Poppins", "Helvetica";
}

html{
    height: 100%;
}

a{
    color: white;
}

img{
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

body{
    display: flex;
    flex-direction: row;

    height: 100%;
    margin: 0;
}

/**/

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../../img/senai-triangle-bg.png");
    background-size: cover;
    background-position-y: 30%;
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-color: rgb(255, 0, 0);

    transition: all ease-in-out 0.5s;

    width: auto;

    color: white;
    text-align: start;
}


    nav a{
        text-decoration: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    nav div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        width: 100%;
        padding: 5px;

        transition: all 0.3s;
    }

        nav div:focus{
            background-color: #fd0026;
        }

        nav a:hover{
            background-color: rgba(255, 0, 0, 0.556);
        }

        nav .iconeLink{
            cursor: pointer;

            width: 20px;
            height: 20px;

            padding: 5px;
            border-radius: 10px;
        }

        nav .spanLinkNav{
            display: block;

            font-weight: 600;
            text-transform: uppercase;

            font-size: 0%;

            transition: all 0.4s;
        }

    nav:hover > a div .spanLinkNav, nav:hover > div .spanLinkNav{
        color: white;
        font-size: 95%;

        transition: all 0.4s;
    }

    nav:hover > a div, nav:hover > div{
        padding-left: 10px;
        padding-right: 50px;
    }

main{
    display: flex;
    flex-direction: column;

    width: 100%;
    
    margin: 0;
}

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: auto;

        box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.295);
    }

        header div{
            display: flex;
            flex-direction: row;
            align-items: center;

            margin: 10px;
        }

            header #senaiLogo{
                width: 100px;
            }