@media (max-width: 950px){
    main{
        width: 600px;
    }

    #divAlterarInformacoes{
        margin-left: 520px;
        padding-right: 1px;
    }

    #divAlterarInformacoes label{
        display: none;
    }
}