/*  #sectionRegistro{
    margin: 20px;
    padding: 0;
}

.registroItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    padding: 5px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 15px;

    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.253);
    background-color: white;

    transition: all ease-in-out 0.1s;
}

.registroItem:last-child{
    margin-bottom: auto;
}

.registroItem:hover{
    box-shadow: 1px 0px 10px rgb(139, 187, 255);
}

.registroItem div{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.imgAluno{
    width: 60px;
    margin-left: 3px;
}

table{
width: 100%;
margin-left: 10px;
}

th, td{
border: 5px solid rgba(0, 0, 0, 0);
text-align: start;
width: 150px;
padding: 1px;
}

th { text-transform: uppercase; }



.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.425);
  
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 60%; 
  border-radius: 10px;
  display: flex;
}

.direita{

}

.close {
    display: block;

    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;

    position: absolute;
    left: 80%;
   bottom: 86%;
    font-weight: 700;
    font-size: 25px;

    margin: 0;
    padding: 0px 10px;
    border-radius: 100%;

    background-color: white;
    
    transition: all 0.2s ease-in-out;


}


.close:hover{
    background-color: #fd0026;
    color: white;
}

#myBtn{
   display: flex;
    flex-direction: row;
   
}

.visu{
    border-radius: 10px;
    margin-left: 87%;
    height: 40px;
    background-color: rgb(34, 124, 22);
    color: white;



}


.divInput{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-left: 2%;

}

    .divInput:last-child{
        margin-bottom: auto;
    }

.divInput input{
    cursor: auto;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-left: 8px;

    width: 350px;

    border: 2px solid gray;
    border-radius: 3px;
    outline: transparent;

    transition: all ease-in-out 0.2s;
}

    .divInput input:hover{
        border-color: rgb(155 194 249);
    }

main input[type=date]{
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 8px;

    width: auto;

    border: 2px solid gray;
    border-radius: 3px;
    outline: transparent;

    transition: all ease-in-out 0.2s;
}

.divInput label{
    pointer-events: none;

    position: absolute;
    margin-left: 6px;
    margin-top: -10px;

    padding-left: 4px;
    padding-right: 4px;
    background-color: white;
    font-weight: 600;

    transition: all 0.2s ease-in-out;
}

.divInput input:hover + label{
    color: rgb(155 194 249);
}


 #imgAluno{
    height: 200px;
    width: 200px;
    margin-left: 37%;
 }

.confirmar{
    position: absolute;
    margin-left: 54%;
    margin-top: 31%;
    background-color: #fd0000;
    color: white;
    border-color: #fd0000;
    border-radius: 5px;
} */

#divQuantSol{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 18px;
    margin-right: 18px;

    border-radius: 10px;

    box-shadow: 1px 1px 2px 1px rgb(123, 0, 255);
}

    #divQuantSol img{
        background-color: rgb(123, 0, 255);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 30px;
        height: 30px;
        padding: 10px;
    }

    #divQuantSol label{
        margin-left: 10px;
    }

#sectionRegistro{
    margin: 20px;
    padding: 0;
}

.registroItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    padding: 5px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 15px;

    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.253);
    background-color: white;

    transition: all ease-in-out 0.1s;
}

    .registroItem:last-child{
        margin-bottom: auto;
    }

    .registroItem:hover{
        box-shadow: 1px 0px 10px rgb(139, 187, 255);
    }

    .registroItem div{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .imgAluno{
        width: 60px;
        height: 60px;
        margin-left: 3px;
        border-radius: 100%;
        object-fit: cover;
    }

table{
    width: 100%;
    margin-left: 10px;
}

th, td{
    border: 5px solid rgba(0, 0, 0, 0);
    text-align: start;
    width: 150px;
    padding: 1px;
}

th { text-transform: uppercase; }

/**/

#modalRegistro{
    align-self: center;

    display: none;
    flex-direction: row;

    width: 820px;

    position: absolute;
    top: 20%;
    background-color: white;
    box-shadow: 1px 1px 5000px 5000px rgba(0, 0, 0, 0.486);
    border-radius: 10px;

    animation: modal 0.2s ease-in-out;
}

    @keyframes modal{
        from{
            opacity: -200%;
        }
    }

    #botaoFechar{
        display: block;

        cursor: pointer;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;

        position: absolute;
        left: 800px;
        top: -18px;
        font-weight: 700;
        font-size: 25px;

        margin: 0;
        padding: 0px 10px;
        border-radius: 100%;

        background-color: white;
        
        transition: all 0.2s ease-in-out;
    }

        #botaoFechar:hover{
            background-color: #fd0026;
            color: white;
        }

    #modalRegistro .itemCadastral{
        flex-direction: row;
        padding: 23px;
        margin: 0 auto;
        
    }

        .itemCadastral span{
            cursor: default;
        }

        .itemCadastral span:hover{
            color: rgb(139, 187, 255);
        }

    #modalRegistro .icone{
        width: 23px;
        flex-direction: row;
    }

    #modalRegistro .coluna{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin: 35px;

        height: auto;
    }


    #modalRegistro #imgAluno{
        width: 240px;
        height: 240px;
        margin-top: 80px;
        border-radius: 100%;
        object-fit: cover;
        align-self: center;
    }

    #modalRegistro #nomeAluno{
        font-size: 25px;
        font-weight: 500;
        text-align: center!important;
        width: 310px;
        margin-top: 350px;
        margin-left: -350px;
        position: absolute;
    }
    /**/

    .divInput{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .divTextArea{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }


        .divInput:last-child{
            margin-bottom: auto;
        }

        .divTextArea:last-child{
            margin-bottom: auto;
        }

    .divInput input{
        cursor: auto;
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 8px;

        width: 350px;

        border: 2px solid gray;
        border-radius: 3px;
        outline: transparent;

        transition: all ease-in-out 0.2s;
    }

    .divTextArea TextArea{
        cursor: auto;
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 8px;

        width: 350px;

        border: 2px solid gray;
        border-radius: 3px;
        outline: transparent;
        resize: none;
        transition: all ease-in-out 0.2s;

    }

    .divInput input:hover{
            border-color: rgb(155 194 249);
        }

    .divTextArea TextArea:hover{
        border-color: rgb(155 194 249);
    }


    main input[type=date]{
        padding-top: 10px;
        padding-bottom: 6px;
        padding-left: 8px;

        width: auto;

        border: 2px solid gray;
        border-radius: 3px;
        outline: transparent;

        transition: all ease-in-out 0.2s;
    }

    main TextArea[type=text]{
        padding-top: 10px;
        padding-bottom: 6px;
        padding-left: 8px;

        width: auto;

        border: 2px solid gray;
        border-radius: 3px;
        outline: transparent;

        transition: all ease-in-out 0.2s;
    }

    .divInput label{
        pointer-events: none;

        position: absolute;
        margin-left: 6px;
        margin-top: 0px;

        padding-left: 4px;
        padding-right: 4px;
        background-color: white;
        font-weight: 600;

        transition: all 0.2s ease-in-out;
    }

    .divTextArea label{
        pointer-events: none;

        position: absolute;
        margin-left: 6px;
        margin-top: -10px;

        padding-left: 4px;
        padding-right: 4px;
        background-color: white;
        font-weight: 600;

        transition: all 0.2s ease-in-out;

    }

    .divInput input:hover + label{
        color: rgb(155 194 249);
    }

    .divTextArea textarea:hover + label{
        color: rgb(155 194 249);
    }

    .inputDados{
        margin-top: 10px;
    }
    
    /**/

    #recusar{
        background-color: rgb(221, 221, 221);
        border-color: rgb(204, 204, 204);
        color: black;
        border-radius: 5px;
        width: 100%;
        padding: 5px;
        margin-top: 30px;
    }

    #confirmar{
        background-color: #f01313;
        border-color: #f01313;
        color: white;
        border-radius: 5px;
        width: 100%;
        padding: 5px;
        margin-top: 30px;
    }

    .junto{
        padding-left: 15%;
    }
