body, html{
    height: 100%;
}

#divQuantAlunos{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: 18px;
    margin-right: 18px;

    border-radius: 10px;

    box-shadow: 1px 1px 2px 1px orangered;
}

    #divQuantAlunos img{
        background-color: orangered;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 30px;
        height: 30px;
        padding: 10px;
    }

    #divQuantAlunos label{
        margin-left: 10px;
    }

#divBarraDePesquisa{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 18px;
    margin-right: 20px;
    padding: 5px;

    border-radius: 10px;
    box-shadow: 2px 2px 1px 3px rgba(0, 0, 0, 0.134);
}

    .barra{
        padding: 12px;
    }

    #icoBusca{
        width: 25px;
        height: 25px;
    }

    #filtro{
        cursor: pointer;
        border-color: transparent;
        outline: none;
    }

    #barraDePesquisa{
        width: 95%;
        padding: 4px;
        outline: none;
        border-color: transparent;
    }

#sectionRegistro{
    margin: 20px;
    padding: 0;
}

.registroItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

    padding: 5px;
    width: auto;
    border-radius: 10px;
    margin-bottom: 15px;

    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.253);
    background-color: white;

    transition: all ease-in-out 0.1s;
}

    .registroItem:last-child{
        margin-bottom: 40px;
    }

    .registroItem:hover{
        box-shadow: 1px 0px 10px rgb(139, 187, 255);
    }

    .registroItem div{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .imgAluno{
        object-fit: cover;
        
        width: 60px;
        height: 60px;
        margin-left: 3px;
        border-radius: 100%;
    }

table{
    width: 100%;
    margin-left: 10px;
}

th, td{
    border: 5px solid rgba(0, 0, 0, 0);
    text-align: start;
    width: 150px;
    padding: 1px;
}

th { text-transform: uppercase; }

/**/

#modalRegistro{
    align-self: center;
    justify-self: center;

    display: none;
    flex-direction: row;

    width: 820px;
    margin: 0;
    padding: 0;

    bottom: 150px;

    position: fixed;

    background-color: white;
    box-shadow: 1px 1px 5000px 5000px rgba(0, 0, 0, 0.486);
    border-radius: 10px;

    animation: modal 0.2s ease-in-out;
}

    @keyframes modal{
        from{
            opacity: -200%;
        }
    }

    #botaoFechar{
        display: block;

        cursor: pointer;
        user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;

        position: absolute;
        left: 800px;
        top: -18px;
        font-weight: 700;
        font-size: 25px;

        margin: 0;
        padding: 0px 10px;
        border-radius: 100%;

        background-color: white;
        
        transition: all 0.2s ease-in-out;
    }

        #botaoFechar:hover{
            background-color: #fd0026;
            color: white;
        }   

    #modalRegistro .itemCadastral{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        margin-top: 8px;
    }

        #modalRegistro .itemCadastral div{
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;
            word-break: break-all;
        }

        .itemCadastral span{
            cursor: default;
        }

    #modalRegistro .icone{
        width: 23px;
        margin-right: 12px;
    }

    #modalRegistro .coluna{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        margin: 35px;

        height: auto;
    }

        #modalRegistro .coluna:nth-child(3){
        }

    #modalRegistro #imgAluno{
        width: 240px;
        height: 240px;
        margin-bottom: 10px;
        align-self: center;

        object-fit: cover;

        border-radius: 100%;
    }

    #modalRegistro #nomeAluno{
        font-size: 25px;
        font-weight: 500;
        margin-left: 3px;
        margin-bottom: 8px;

        text-align: center;

        width: 310px;
    }

    .spanItemCadastral{
        cursor: auto!important;
    }

    #modalRegistro #divbotaoAlterar{
        border-radius: 100%;
        padding: 100px;
    }

        #botaoAlterar{
            position: absolute;

            cursor: pointer;
            width: 25px;
            height: 25px;
            padding: 3px;
            border-radius: 100%;

            transition: all ease-in-out 0.2s;
        }

    #botaoAlterar, #divBotaoAlterar{
        cursor: pointer;
        position: absolute;
    }

    #botaoEditar{
        position: absolute;
        left: 795px;
        bottom: -15px;

        cursor: pointer;
        width: 25px;
        height: 25px;
        padding: 8px;
        border-radius: 100%;

        background-color: white;

        transition: all ease-in-out 0.2s;
    }

        #botaoEditar:hover{
            background-color: lightgreen;
        }

    /**/

    .divInput{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

        .divInput:last-child{
            margin-bottom: auto;
        }

    .divInput input{
        cursor: auto;
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 8px;

        width: 350px;

        border: 2px solid gray;
        border-radius: 3px;
        outline: transparent;

        transition: all ease-in-out 0.2s;
    }

        .divInput input:hover{
            border-color: rgb(155 194 249);
        }

    main input[type=date]{
        padding-top: 10px;
        padding-bottom: 6px;
        padding-left: 8px;

        width: auto;

        border: 2px solid gray;
        border-radius: 3px;
        outline: transparent;

        transition: all ease-in-out 0.2s;
    }

    .divInput label{
        pointer-events: none;

        position: absolute;
        margin-left: 6px;
        margin-top: -10px;

        padding-left: 4px;
        padding-right: 4px;
        background-color: white;
        font-weight: 600;

        transition: all 0.2s ease-in-out;
    }

    .divInput input:hover + label{
        color: rgb(155 194 249);
    }