/*Media Query Modal*/

@media (max-width: 905px){
    #modalRegistro{
        flex-direction: column;
        width: auto;
        margin-top: 0px;
        bottom: 50px;
    }

    #imgAluno{
        width: 140px!important;
        height: 140px!important;
    }

    #nomeAluno{
        align-self: center;
        font-size: 20px!important;
        width: auto;
    }

    .coluna, #colunaFoto{
        margin: 20px!important;
    }

    #colunaFoto{
        margin-bottom: 5px!important;
    }

    .itemCadastral{
        width: 100%;
        display: none!important;
    }

    #botaoFechar{
        left: 385px;
    }

    #botaoEditar{
        left: 380px;
        bottom: -15px;
    }
}

/**/
/**/
/**/

/*Media Query Registro*/

@media (max-width: 1000px){
    th:nth-child(4), td:nth-child(4), th:nth-child(5), td:nth-child(5){
        display: none;
    }
}

@media (max-width: 600px){
    th:nth-child(3), td:nth-child(3){
        display: none;
    }
}